 @import "tailwindcss";

@font-face {
  font-family: "DINPro";
  src: url("./assets/fonts/DINPro/DINPro-Light/DINPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("./assets/fonts/DINPro/DINPro-Regular/DINPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("./assets/fonts/DINPro/DINPro-Bold/DINPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DINPro";
  src: url("./assets/fonts/DINPro/DINPro-Black/DINPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "DINPro", sans-serif;
}